.album {
    margin: 10px;
    overflow: hidden;
  }
  
  .image-container {
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .album h2 a {
    color: #ffffff;
  }

  .album h2 a:hover {
    border-bottom: 1px solid #ffffff;
  }

  span {
    color: #a0a0a0;
    font-size: 14px;
    max-width: 300px;
  }
  
  @media only screen and (min-width: 1025px) {
    .album img {
      object-fit: contain;
      width: 100%;
    }
  }
  