.album {
  margin: 10px;
  overflow: hidden;
}

span {
  color: #a0a0a0;
  font-size: 14px;
  max-width: 300px;
}

@media only screen and (min-width: 1025px) {
  .album img {
    object-fit: contain;
    width: 100%;
  }
}
